body {
    background-image: url("RbgBody.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  

input
{
    margin : 10px  ;  
}
div
{
    border : white 5px solid ; 
    background-color: black ;



}